<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    
<h1>Privacy policy</h1>
<p>This privacy policy applies between you, the User of this Website and Gareth Cassin, the owner and provider of this Website. Gareth Cassin takes the privacy of your information very seriously. This privacy policy applies to our use of any and all Data collected by us or provided by you in relation to your use of the Website.  <b>Please read this privacy policy carefully</b>.
</p>

<h2>Definitions and interpretation</h2>
<ol class="clauses firstList">


    <li>In this privacy policy, the following definitions are used:
    <table class="definitions">
        
        <tr>
            <td><b>Data</b></td>
            <td>collectively all information that you submit to Gareth Cassin via the Website.  This definition incorporates, where applicable, the definitions provided in the Data Protection Act 1998;</td>
        </tr>

        
        <tr>
            <td><b>Gareth Cassin,
                <br />we</b> or <b>us</b></td>
            <td>

                                Gareth Cassin of 6 Railway Street,   Essex, RM6 4JH;
                
                </td>
        </tr>

        
        <tr>
            <td><b>User</b> or <b>you</b></td>
            <td>any third party that accesses the Website and is not either (i) employed by Gareth Cassin and acting in the course of their employment or (ii) engaged as a consultant or otherwise providing services to Gareth Cassin and accessing the Website in connection with the provision of such services; and</td>
        </tr>
        <tr>
            <td><b>Website</b></td>
            <td>the website that you are currently using, www.garethcassin.co.uk, and any sub-domains of this site unless expressly excluded by their own terms and conditions.</td>
        </tr>
    </table>
    </li>

    <li>In this privacy policy, unless the context requires a different interpretation:
        <ol>
            <li>the singular includes the plural and vice versa;</li>

            <li>references to sub-clauses, clauses, schedules or appendices are to sub-clauses, clauses, schedules or appendices of this privacy policy;</li>

            <li>a reference to a person includes firms, companies, government entities, trusts and partnerships;</li>

            <li>"including" is understood to mean "including without limitation";</li>

            <li>reference to any statutory provision includes any modification or amendment of it;</li>

            <li>the headings and sub-headings do not form part of this privacy policy. </li>

        </ol>
    </li>
</ol>


<h2>Scope of this privacy policy</h2>
<ol class="clauses">
    <li>This privacy policy applies only to the actions of Gareth Cassin and Users with respect to this Website.  It does not extend to any websites that can be accessed from this Website including, but not limited to, any links we may provide to social media websites.</li>
</ol>


<h2>Data collected</h2>
<ol class="clauses">
    <li>We may collect the following Data, which includes personal Data, from you:
        <ol>
                        <li>Name</li>
            
            
            
            
            
            <li>Contact Information such as email addresses and telephone numbers;</li>
            
            
            
            
            
            
            
            
            in each case, in accordance with this privacy policy.
        </ol>
    </li>
</ol>


<h2>Our use of Data</h2>
<ol class="clauses">

    <li>For purposes of the Data Protection Act 1998, Gareth Cassin is the "data controller".</li>
    <li>We will retain any Data you submit for 1 month.</li>


    <li>Unless we are obliged or permitted by law to do so, and subject to any third party disclosures specifically set out in this policy, your Data will not be disclosed to third parties. This includes our affiliates and / or other companies within our group.
    </li>

    <li>All personal Data is stored securely in accordance with the principles of the Data Protection Act 1998.  For more details on security see the clause below (<b>Security</b>).</li>
    <li>Any or all of the above Data may be required by us from time to time in order to provide you with the best possible service and experience when using our Website.  Specifically, Data may be used by us for the following reasons:
        <ol>


                        <li>internal record keeping;</li>
            
            
            
                    </ol>
    </li>


    <p>in each case, in accordance with this privacy policy.</p>
</ol>

<h2>Third party websites and services</h2>
<ol class="clauses">

    <li>Gareth Cassin may, from time to time, employ the services of other parties for dealing with certain processes necessary for the operation of the Website. The providers of such services do not have access to certain personal Data provided by Users of this Website.
    </li>


    </ol>

<h2>Links to other websites</h2>
<ol class="clauses">

    <li>This Website may, from time to time, provide links to other websites.  We have no control over such websites and are not responsible for the content of these websites.  This privacy policy does not extend to your use of such websites.  You are advised to read the privacy policy or statement of other websites prior to using them.</li>
</ol>


<h2>Changes of business ownership and control</h2>
<ol class="clauses">
    <li>Gareth Cassin may, from time to time, expand or reduce our business and this may involve the sale and/or the transfer of control of all or part of Gareth Cassin.  Data provided by Users will, where it is relevant to any part of our business so transferred, be transferred along with that part and the new owner or newly controlling party will, under the terms of this privacy policy, be permitted to use the Data for the purposes for which it was originally supplied to us.</li>


    <li>We may also disclose Data to a prospective purchaser of our business or any part of it.</li>


    <li>In the above instances, we will take steps with the aim of ensuring your privacy is protected.</li>
</ol>



<h2>Controlling use of your Data</h2>
<ol class="clauses">



    <li>Wherever you are required to submit Data, you will be given options to restrict our use of that Data.  This may include the following:</li>
    <li>use of Data for direct marketing purposes; and</li>



    <li>sharing Data with third parties.</li>

</ol>

<h2>Functionality of the Website</h2>
<ol class="clauses">



    <li>To use all features and functions available on the Website, you may be required to submit certain Data.</li>



    </ol>

<h2>Accessing your own Data</h2>
<ol class="clauses">


    <li>You have the right to ask for a copy of any of your personal Data held by Gareth Cassin (where such Data is held) on payment of a small fee, which will not exceed &#163;0.</li>
</ol>


<h2>Security</h2>
<ol class="clauses">
    <li>Data security is of great importance to Gareth Cassin and to protect your Data we have put in place suitable physical, electronic and managerial procedures to safeguard and secure Data collected via this Website.</li>


    <li>If password access is required for certain parts of the Website, you are responsible for keeping this password confidential.</li>



    <li>We endeavour to do our best to protect your personal Data.  However, transmission of information over the internet is not entirely secure and is done at your own risk.  We cannot ensure the security of your Data transmitted to the Website.</li>

</ol>





<h2>General</h2>
<ol class="clauses">
    <li>You may not transfer any of your rights under this privacy policy to any other person.  We may transfer our rights under this privacy policy where we reasonably believe your rights will not be affected.
    </li>


    <li>If any court or competent authority finds that any provision of this privacy policy (or part of any provision) is invalid, illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to be deleted, and the validity and enforceability of the other provisions of this privacy policy will not be affected.</li>


    <li>Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be deemed a waiver of that, or any other, right or remedy.</li>

    <li>This Agreement will be governed by and interpreted according to the law of England and Wales. All disputes arising under the Agreement will be subject to the exclusive jurisdiction of the English and Welsh courts.</li>

</ol>

<h2>Changes to this privacy policy</h2>
<ol class="clauses">
    <li>Gareth Cassin reserves the right to change this privacy policy as we may deem necessary from time to time or as may be required by law.  Any changes will be immediately posted on the Website and you are deemed to have accepted the terms of the privacy policy on your first use of the Website following the alterations.
        <br /><br />
        You may contact Gareth Cassin by email at nissacjg@gmail.com.
        <br /><br /><br />
        <b>02 April 2018</b></li>
</ol>

</body>
</html>